In [1]:
#importing the basic libraries
import numpy as py
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [7]:
#reading in the data and separating independent and dependent variables
ins = pd.read_csv('insuranceData.csv')
X = ins.iloc[:, :-1].values
y = ins.iloc[:, 4].values

In [17]:
#taking a look at the data structure
ins.head()

   age     bmi  children smoker      charges
0   19  27.900         0    yes  16884.92400
1   18  33.770         1     no   1725.55230
2   28  33.000         3     no   4449.46200
3   33  22.705         0     no  21984.47061
4   32  28.880         0     no   3866.85520

In [12]:
#encoding the smoker column using LabelEncoder
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

labelencoder = LabelEncoder()
X[:, 3] = labelencoder.fit_transform(X[:, 3])
print(X)

[[19 27.9 0 1]
 [18 33.77 1 0]
 [28 33.0 3 0]
 ...
 [18 36.85 0 0]
 [21 25.8 0 0]
 [61 29.07 0 1]]

In [14]:
#encoding the smoker column using OneHotEncdoer
onehotencode = ColumnTransformer([('smoker', OneHotEncoder(), [3])], remainder="passthrough")
X = onehotencode.fit_transform(X)
print(X)

[[0.0 1.0 19 27.9 0]
 [1.0 0.0 18 33.77 1]
 [1.0 0.0 28 33.0 3]
 ...
 [1.0 0.0 18 36.85 0]
 [1.0 0.0 21 25.8 0]
 [0.0 1.0 61 29.07 0]]

In [16]:
#splitting the training & testing data - saving %15 of the data for test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)