In [2]:
import pandas as pd

In [3]:
textMining = pd.read_csv('trainTweets.csv')

In [4]:
textMining.head()

   id  label                                              tweet
0   5      0            Factsguide: Society now    #motivation
1  18      1                             Retweet if you agree!
2   8      0  the next school year is the year for exams.ð...
3   9      0  we won!!! love the land!!! #allin #cavs #champ...
4  10      0   @user @user welcome here !  i'm   it's so #gr...

In [7]:
#adding a column 'word_count' and applying a function that counts how many words are in the column 'tweet'
textMining['word_count'] = textMining['tweet'].apply(lambda x: len(str(x).split(" ")))
#print out the first 5 rows
textMining[['tweet', 'word_count']].head()

                                               tweet  word_count
0            Factsguide: Society now    #motivation            9
1                             Retweet if you agree!            5
2  the next school year is the year for exams.ð...          23
3  we won!!! love the land!!! #allin #cavs #champ...          13
4   @user @user welcome here !  i'm   it's so #gr...          15

In [10]:
textMining['char_count'] = textMining['tweet'].str.len()
textMining[['tweet', 'char_count']].head()

                                               tweet  char_count
0            Factsguide: Society now    #motivation           40
1                             Retweet if you agree!           22
2  the next school year is the year for exams.ð...         143
3  we won!!! love the land!!! #allin #cavs #champ...          87
4   @user @user welcome here !  i'm   it's so #gr...          50

In [11]:
#Getting the number of the hashtag(#) symbols used
textMining['hashtags'] = textMining['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
textMining[['tweet', 'hashtags']].head()

                                               tweet  hashtags
0            Factsguide: Society now    #motivation          1
1                             Retweet if you agree!          0
2  the next school year is the year for exams.ð...         7
3  we won!!! love the land!!! #allin #cavs #champ...         5
4   @user @user welcome here !  i'm   it's so #gr...         1

In [12]:
textMining['tweet'] = textMining['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
textMining['tweet'].head()

0                  factsguide: society now #motivation
1                                retweet if you agree!
2    the next school year is the year for exams.ð...
3    we won!!! love the land!!! #allin #cavs #champ...
4        @user @user welcome here ! i'm it's so #gr8 !
Name: tweet, dtype: object

In [13]:
textMining['tweet'] = textMining['tweet'].str.replace('[^\w\s]','')
textMining['tweet'].head()

C:\Users\willj\AppData\Local\Temp\ipykernel_23288\1408993218.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  textMining['tweet'] = textMining['tweet'].str.replace('[^\w\s]','')

0                    factsguide society now motivation
1                                 retweet if you agree
2    the next school year is the year for examsð ca...
3    we won love the land allin cavs champions clev...
4               user user welcome here  im its so gr8
Name: tweet, dtype: object